/** GENERAL **/

@font-face 
{
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('fonts/gabriola.woff') format('woff');
}

@font-face 
{
    font-family: 'Dubai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Light'), url('fonts/dubai-light.woff') format('woff');
}
    
html
{
    scroll-behavior: smooth;
}


body 
{
    margin: 0;
    padding: 0;
    background-image:url(img/background.jpg);
}

.navig
{
  Display:flex;
  justify-content: center;
  align-items: center;
}

#medallion
{
    width: 6vw;
}

.img-size
{
    display: block;
    width: 100%;
    height: 24vh;
    object-fit: cover;
}

main
{
    font-family: 'Dubai Light';
    color:#69465C;
}

.btn-purple
{
    background-color: #69465C;
    color: white;
}

.btn-purple:hover
{
    background-color: #59095B;
    color: white;
}

.gabriola
{
    font-family:'Gabriola'!important;
}

.title-section
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content:center;
    margin-top:50px;
    padding-top:10px;
    background-color: #ffffff;
    width: 100%;
}

h1
{
    font-family:'Gabriola';
    color: #59095B;
    text-align:center;
    padding-top: 5px;
}


                    /** A PROPOS **/
#essential
{
    background-color: #ffffff;
    font-family:'Gabriola';
    color: #59095B;
    font-size:3em;
    align-self: center;
    text-align: center;
    padding: 0px 15px;
}

#mycv
{
    width:50vw;
    margin-top:50px;
}

.no-speech
{
    height:70vh;
}

.bloc-cv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    width: 100%;
    text-align: center;
}

.contact
{
    display: block;
    width: 100%;
    padding : 16px;
}


/* Horizontal scrolling  */

  .slide 
  {
    width: 200vw;
    height:auto;
  }

  .wrapper 
  {
    display: flex;
    flex-direction: row;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  .outer-wrapper 
  {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar 
  {
    display:none;
  }

  .slide img 
  {
    width:20vw;
  }





  footer
  {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    font-family: 'Dubai Light';
    color:#69465C;
    text-align: center;
    margin-top: 50px;
  }
