/** GENERAL **/

@font-face 
{
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('fonts/gabriola.woff') format('woff');
}

@font-face 
{
    font-family: 'Dubai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Light'), url('fonts/dubai-light.woff') format('woff');
}
    
html
{
    scroll-behavior: smooth;
}


body 
{
    margin: 0;
    padding: 0;
    background-image:url(img/background.jpg);
}

#medallion
{
    width: 6vw;
}

.img-size
{
    display: block;
    width: 100%;
    height: 24vh;
    object-fit: cover;
}

main
{
    font-family: 'Dubai Light';
    color:#69465C;
}

.btn-purple
{
    background-color: #69465C;
    color: white;
}

.btn-purple:hover
{
    background-color: #59095B;
    color: white;
}

.gabriola
{
    font-family:'Gabriola'!important;
}

.title-section
{
    font-family:'Gabriola';
    display: flex;
    justify-content:center;
    margin-top:50px;
    padding-top:10px;
}

hr.style-two 
{
    width: 800px;
    margin: auto;
    border: 0;
    height: 0;
    border-top: medium double #59095B;
    color: #59095B;
}






/* Horizontal scrolling  */

  .slide 
  {
    width: 400vw;
    height: 100vh;
  }

  .wrapper 
  {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  .outer-wrapper 
  {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar 
  {
    display:none;
  }

  .slide img 
  {
      width:24vw;
  }