
#essential
{
background-color: #ffffff;
font-family:'Gabriola';
color: #59095B;
font-size:2.7em;
align-self: center;
text-align: center;
padding: 0px 15px;
}

.navig
{
  Display:flex;
  justify-content: center;
  align-items: center;
}


/* Horizontal scrolling  */

  .slide 
  {
    width: 100vw;
    height:auto;
  }

  .wrapper 
  {
    display: flex;
    flex-direction:column;
    width: 100vw;
  }

  .outer-wrapper 
  {
    width: 100vh;
    height: 100vw;
  }

  .slide img 
  {
      width:20vw;
  }